/* Signup page css */

body {
    background-color: aliceblue !important;
    overflow-x: hidden;
}

nav {
    margin: 1%;
    float: right;
}

form {
    box-sizing: border-box;
    margin: 5% 2% 0 0;
    margin-bottom: 0%;
    border-style: double;
    display: inline-block;
    padding: 3% 3% 4% 6%;
    width: 100%;
    height: 100%;
    justify-content: center;
}

input[type=text],
input[type=password],
input[type=email],
input[type=tel] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

form>h1 {
    text-align: center;
}

button {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}


/* The message box is shown when the user clicks on the password field */

#message {
    display: none;
    background: #f1f1f1;
    color: #000;
    position: relative;
    padding: 20px;
    margin-top: 10px;
}

#message p {
    padding: 10px 35px;
    font-size: 18px;
}


/* Add a green text color and a checkmark when the requirements are right */

.valid {
    color: green;
}

.valid:before {
    position: relative;
    left: -35px;
    content: "	correct";
}


/* Add a red text color and an "x" icon when the requirements are wrong */

.invalid {
    color: red;
}

.invalid:before {
    position: relative;
    left: -35px;
    content: "incorrect";
}


/* bootstrap part */

.nav-pills {
    background-color: #000;
    margin-top: 0.5%;
    font-size: large;
    width: 100%;
}

.nav-links {
    justify-content: space-around;
}